# Configuration file for weechatd init script
#
# Mandatory options:
#
#    user    - Specify user for running weechat.
#    group   - Specify group for running weechat.
#    session - Specify screen session name to be used for weechat.
#
# Non-mandatory options:
#
#    args    - Pass additional arguments to weechat.
user="{{ user}}"
group="{{ group }}"
session="{{ session }}"
args="{{ args }}"
